body {
    background: #000 url('img/fondo-hero.webp') no-repeat center center fixed ;
    background-size: cover ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
}

.header{
    background-color: black;
    padding: 15px 0;
    border-bottom: 4px solid #990000;

}

.contenedor{
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    
}

.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav{
    display: flex;
    gap: 20px;
}


.nav a {
    
    color: white;
    text-decoration: none;
    margin: 0 15px;
    



}

.nav a:hover{
    color: #990000;
}

.btn{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


/* esto es pal responsive en cel */

@media (max-width: 768px){
    .btn{
        display: block;
    }
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #000000;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        clip-path: circle(0px at 90%
        -10%);
        pointer-events: none;
        transition: all 0.3s ease-in-out;
    }

    .nav.active{
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;


    }

    .nav a {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.1s ease;
    }

    .nav.active a {
        opacity: 1;
        transform: translateY(0);
    }

    .nav.active a:nth-child(1){transition-delay: 0.1s;}
    .nav.active a:nth-child(2){transition-delay: 0.2s;}
    .nav.active a:nth-child(3){transition-delay: 0.3s;}
    .nav.active a:nth-child(4){transition-delay: 0.4s;}


}

/* Contenedor Principal */
/* Modifica tu clase .hero */
.hero {
    display: flex;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.726) 0%, rgba(0, 0, 0, 0.253) 100%);
    height: 70vh; /* Bajamos un poco el alto para que no se estire tanto la foto */
    background-color: transparent; /* Permite ver el fondo del body o pon #000 */
    color: rgb(255, 255, 255);
    overflow: hidden;
    
   
}

/* Lado Izquierdo: Texto */
.hero-content {
    flex: 1; /* Toma el 50% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
}

.subtitle {
    color: #990000; /* Rojo para seguridad vial */
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.btn-main {
    background-color: #990000; 
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    width: fit-content;
    font-weight: bold;
    transition: 0.3s;
}

.btn-main:hover{
    background-color: #740000;
}

/* Lado Derecho: Imagen */
.hero-image {
    flex: 1;
    /* Añadimos un degradado negro a la izquierda para que el corte no sea brusco */
    background-image: 
         
        url('img/img-hero.webp');
    
    background-size: cover;      /* Mantiene la proporción */
    background-position: center; /* Si el extintor está a un lado, usa 'right center' */
    background-repeat: no-repeat;
    
    position: relative; /* Importante para que los iconos se peguen abajo */
    display: flex;
    align-items: flex-end; 
    padding: 0; /* Quitamos el padding para que los cuadros toquen los bordes */
}

/* Los 3 bloques de abajo (Features) */
.features-overlay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.feature {
    background: rgba(0, 0, 0, 0.185); /* Fondo semi-transparente */
    backdrop-filter: blur(5px); /* Efecto cristal esmerilado */
    padding: 20px;
    border-top: 2px solid   ;
}

/* Media Query para Tablets y Celulares (menos de 768px) */
@media (max-width: 768px) {
    .hero {
        flex-direction: column; /* Apila los bloques */
        height: auto; 
        display: flex;
        
    }

    /* 1. EL TEXTO ARRIBA */
    .hero-content {
        order: 1; /* Lo posiciona en primer lugar */
        padding: 40px 20px;
        color: #ffffff;
        text-align: center;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.966) 0%, rgba(0, 0, 0, 0.253) 100%);
        align-items: center; /* Centra el botón y el título */
        border-bottom: 2px solid #ffffff;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    /* 2. LA IMAGEN Y FEATURES ABAJO */
    .hero-image {
        order: 2; /* Lo posiciona en segundo lugar */
        height: 450px; /* Ajusta esto según qué tan grande quieras la imagen */
        display: flex;
        flex-direction: column;
        justify-content: flex-end; /* Empuja los features al fondo de la imagen */
    }

    .features-overlay {
        grid-template-columns: 1fr; /* Un cuadro debajo de otro para que no se amontonen */
        gap: 0;
        width: 100%;
    }

    .feature {
        padding: 20px;
        border-top: none;
        backdrop-filter: none;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.616) 0%, rgba(0, 0, 0, 0.253) 100%);
        /* Un poco más oscuro para que se lea bien sobre la foto */
    }
}